{% extends 'default.html' %}

{% block title %} All Users {% endblock title %}

{% block navi %}
    <a href="{% url 'my_profile' %}">My profile</a>
    <a href="{% url 'my_rooms' %}">My rooms</a>
    <a href="{% url 'all_rooms' %}">All rooms</a>
    <a class="active" href="#">All users</a>
{% endblock navi %}

{% block content %}
    {% if all_users_list %}
        {% for user_profile in all_users_list %}
            <div class="user-row">
                <div class="user-info">
                    <div class="foo">
                        <img class="user-avatar-small" src="{{ user_profile.avatar.url }}" alt="can't load image">
                    </div>
                    <div class="foo">
                        {{ user_profile.user.username }}
                    </div>
                </div>
                <div class="room-button">
                    <button>
                        <a href="{% url 'room' user_profile.id %}">Войти в чат</a>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No Users yet...</h2>
    {% endif %}
{% endblock content %}