{% extends 'default.html' %}

{% block title %} My Rooms {% endblock title %}

{% block navi %}
    <a href="{% url 'my_profile' %}">My profile</a>
    <a class="active" href="#">My rooms</a>
    <a href="{% url 'all_rooms' %}">All rooms</a>
    <a href="{% url 'all_users' %}">All users</a>
{% endblock navi %}

{% block content %}
    <button>
        <a href="{% url 'room_create' %}">Новый чат</a>
    </button>
    <br>
    {% if my_rooms_list %}
        {% for room in my_rooms_list %}
            <div class="room-row">
                <div class="room-name">
                    <p>{{ room.title }}</p>
                </div>
                <div class="room-button">
                    <button>
                        <a href="{% url 'room' room.id %}">Войти в чат</a>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>No Rooms yet...</h2>
    {% endif %}
{% endblock content %}